<header role="banner" class="title">
    <h1>Inventory Management System</h1>
</header>
<section role="region" class="container" id="container">
    <nav class="sidebar">
        <ul>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <div id="results" class="results">
        <h2 class="welcome">Welcome</h2>
        <p class="instructions">This software is used to keep track of inventory at multiple locations.  
            If you would like to see current inventory or change quantities, click on the inventory 
            tab and select a vehicle/place.  If you need to figure out which items need to be re-ordered, click on the reports tab.
            This report will compare the amount currently on hand with the minimum amount set when the item was created.  If there are items that
            are below that minimum amount they will be displayed in a list with the vehicle/place that needs to be restocked.
        </p>
    </div>
</section>
<footer role="contentinfo" class="copyright">
    <p>Copyright 2017</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../js/prod/min.js"></script>
