<header class="landing-header">
    <h1 class="landing-title">Inventory Management System Demo</h1>
    <p class="description">Inventory software that allows users to keep track of inventory at multiple locations.  Users have the ability to add, delete, or edit vehicles and items to better organize their inventory.</p>
    <div class="enterApp">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
    <div class="landing-copyright">
        <p>Copyright 2017</p>
    </div>
</header>


