<h1 class="landing-title">Inventory Management System</h1>
<div class="enterApp">
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</div>
