<body onload="getVehicles(displayVehicle)">
    <header role="banner" class="title">
        <h1>Inventory Management System</h1>
    </header>
    <section role="region" class="container" id="container">
        <nav class="sidebar">
            <ul>
                <li class="active"><a href="/inventory">Inventory</a></li>
                <li><a href="/reports">Reports</a></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
        <div id="results" class="results">
            <div class="add item" id="add-vehicle">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
            <div class="add item js-hide-display" id="add-item">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
        </div>
    </section>
    <div class="addNewVehicle-modal" id="addNewVehicle-modal">
        <div class="modal-content width-50">
            <span class="close" id="vehicle-close">&times;</span>
            <form name="addvehicle" id="vehicle-form" action="/api/vehicle">
                    <div class="vehicle-form">
                        <h2>Add New Vehicle</h2>
                        <label for="vehicle-image">Image</label>
                        <select name="image">
                            <option value="building">Building</option>
                            <option value="truck">Truck</option>
                            <option value="van">Van</option>
                        </select>
                        <br>
                        <label for="vehicle-name">Vehicle Name</label>
                        <input type="text" name="vehicleName" placeholder="Van 01" id="vehicle-input" class="vehicle-input" required>
                        <input type="submit" value="Submit" id="submit" class="add-submit">
                    </div>
            </form>
        </div>
    </div>
    <div class="addNewItem-modal" id="addNewItem-modal">
        <div class="modal-content width-50">
            <span class="close" id="item-close">&times;</span>
            <form name="additem" id="item-form">
                <div class="item-form">
                    <h2>Add New Item</h2>
                    <label for="item">Item Name</label>
                    <input type="text" name="item" placeholder="Rotella 15w40" id="item-input" class="item-input" required>
                    <label for="partNumber">Part Number</label>
                    <input type="text" name="partNumber" placeholder="SLL-12345" id="partnumber-input" class="item-input" required>
                    <label for="listPrice">List Price</label>
                    <input type="number" name="listPrice" placeholder="25.99" id="price-input" class="item-input" required>
                    <label for="quantityOnHand">Quantity On Hand</label>
                    <input type="number" name="quantityOnHand" placeholder="12" id="quantity-input" class="item-input" required>
                    <label for="reorderPoint">Minimum Amount</label>
                    <input type="number" name="reorderPoint" placeholder="6" id="reorder-input" class="item-input" required>
                    <label for="vehicle_id">Vehicle Id</label>
                    <input type="text" name="vehicle_id" placeholder="Van" id="vehicle_id" class="item-input" required> 
                    <input type="submit" value="Submit" id="submit" class="add-submit">
                </div>
            </form>
        </div>
    </div>
    <div class="editItem-modal" id="editItem-modal">
        
    </div>
    <div class="editVehicle-modal" id="editVehicle-modal">

    </div>

    <footer role="contentinfo" class="copyright">
        <p>Copyright 2017&#169;</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../app.js"></script>
</body>