<header role="banner" class="title">
    <img src="../images/ims.png" alt="inventory logo">
</header>
<section class="login-container">
    <form role="form" id="login" action="/login" method="POST">
        <fieldset class="login">
            <h3>Login</h3>
            <div class="email input">
                <label for="email">Email:</label><br><br>
                <input id="email" name="email" type="email" placeholder="example@yoursite.com" required>
            </div>
            <div class="password input">
                <label for="password">Password:</label><br><br>
                <input id="password" name="password" type="password" placeholder="password" required>
            </div>
            <div class="button-container">
                <button class="submit" type="submit">Login</button><br>
            </div>
            <div class="forgot">
                <a href="/register">Don't have an account?</a>
            </div>
        </fieldset>
        </form>
</section>
<section class="demo-login login">
    <h4>To test this application use these credentials</h4>
    <p class="test-creds">Login - test@test.com</p>
    <p class="test-creds">Password - test1</p>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../js/prod/min.js"></script>
