<header role="banner" class="title">
    <img src="../images/ims.png" alt="inventory logo">
</header>
<section role="region" class="container" id="container">
    <nav class="sidebar">
        <ul>
            <li><a href="/inventory">Inventory</a></li>
            <li class="active"><a href="/reports">Reports</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <div id="results" class="results">
        <div class="item report" id="reorder">
            <p>Items Below Minimum Amount</p>
        </div>
        <h2 class="js-hide-display report-title">These are the inventory items that need to be reordered</h2>
        <div>
            <ol class="reorder-list" id="reorder-list">

            </ol>
        </div>
    </div>
</section>
<footer role="contentinfo" class="copyright">
    <p>Copyright 2017</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../js/prod/min.js"></script>
