.vehicle
    cursor: pointer

.vehicle:hover
    background-color:  #dadee5

.item
    cursor: pointer

.item:hover
    border: solid red 4px

@media (min-width: 775px)
    .item
        border: solid black 1px
        border-radius: 5px
        width: 20%
        margin: 15px
        height: 150px
        text-align: center

@media (max-width: 775px)
    .item
        border: solid black 1px
        border-radius: 5px
        width: 25%
        margin: 15px
        height: 150px
        text-align: center

@media (max-width: 450px)
    .item
        border: solid black 1px
        border-radius: 5px
        width: 35%
        margin: 15px
        height: 150px
        text-align: center

.picture
    img
        width: 50px
        margin-top: 5px

.iteminfo
    p
        margin-top: 5px
        margin-bottom: 5px 

.add
    cursor: pointer

.add:hover
    background-color: #dadee5
    
.addNewVehicle-modal, .addNewItem-modal, .editItem-modal
    display: none
    position: fixed
    z-index: 1 
    left: 0
    top: 0
    overflow: auto
    width: 100%
    height: 100%
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)

.modal-content
    background-color: #fefefe
    margin: 15% auto
    padding: 20px
    border: solid black 1px
    border-radius: 5px
    width: 80%

.close
    color: #aaa
    float: right
    font-size: 28px
    font-weight: bold

.close:hover
    cursor: pointer
    color: black
    text-decoration: none

.vehicle-form
    display: flex
    border: solid black 1px
    h2
        text-align: center
        margin: 20px
    
    label
        margin-bottom: 10px
    
    input
        margin-bottom: 10px      

.item-form
    display: flex
    border: solid black 1px
    h2
        text-align: center
        margin: 20px
    
    label
        margin-bottom: 10px
    
    input
        margin-bottom: 10px

.js-hide-display
    display: none