@media (min-width: 775px)
    .item
        border: solid black 1px
        border-radius: 5px
        width: 20%
        margin: 15px
        height: 150px
        text-align: center

@media (max-width: 775px)
    .item
        border: solid black 1px
        border-radius: 5px
        width: 25%
        margin: 15px
        height: 150px
        text-align: center

@media (max-width: 450px)
    .item
        border: solid black 1px
        border-radius: 5px
        width: 35%
        margin: 15px
        height: 150px
        text-align: center

.picture
    img
        width: 50px
        margin-top: 5px

.iteminfo
    p
        margin-top: 5px
        margin-bottom: 5px   