.landing-title
    font-family: $titleFont
    color: white
    text-align: center
    margin-top: 25%
    text-shadow: $outline
.enterApp
    display: flex
    justify-content: center
    ul
        display: flex
        flex-direction: 
        padding-left: 0px
        li
            margin: 15px
            list-style: none
            text-decoration: none
            border: solid black 1px
            padding-left: 10px
            padding-right: 10px
            border-radius: 5px
            width: 70px
            text-align: center
            background-color: $buttonColor
            a
                text-decoration: none  
                color: white