.landing-header
    background: linear-gradient(rgba(0,0,0,1),rgba(255,0,0,.2)), url('https://www.provisioneronline.com/ext/resources/Issues/2016/August/np0816_22_spareparts_img1.jpg')
    background-size: cover
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.landing-title
    font-family: $titleFont
    color: white
    text-align: center
    //margin-top: 25%
    text-shadow: $outline
    padding-left: 5px
    padding-right: 5px

.description
    color: white
    padding: 5px
    text-align: center
    width: 50%

.enterApp
    display: flex
    justify-content: center
    ul
        display: flex
        flex-direction: 
        padding-left: 0px
        li
            margin: 15px
            list-style: none
            text-decoration: none
            border: solid black 1px
            padding-left: 10px
            padding-right: 10px
            border-radius: 5px
            width: 70px
            text-align: center
            background-color: $buttonColor
            a
                text-decoration: none  
                color: white

.landing-copyright
    color: white
    position: absolute
    bottom: 0