/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.title {
  text-align: center;
  color: red; }

.container {
  border: solid black 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px; }

.sidebar {
  width: 20%;
  height: 100%; }
  .sidebar ul {
    list-style: none;
    width: 100%;
    padding-left: 0px;
    margin: 0px; }
    .sidebar ul li {
      text-align: center;
      border-bottom: solid black 1px;
      padding: 0px;
      height: 50px;
      font-size: 14px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .sidebar ul li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none; }
    .sidebar ul li:hover {
      background-color: #dadee5; }

.active {
  background-color: #dadee5; }

.results {
  border-left: solid black 1px;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: auto;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.welcome {
  margin: 0 auto; }

.instructions {
  text-indent: 50px;
  padding: 5px; }

.copyright {
  text-align: center; }

.js-hide-display {
  display: none; }

.logo {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px; }

@media (min-width: 1000px) {
  .login {
    border: solid black 1px;
    border-radius: 5px;
    width: 33%;
    margin: 0 auto; }
    .login h2 {
      text-align: center;
      margin-top: 20px; } }

@media (max-width: 1000px) {
  .login {
    border: solid black 1px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto; }
    .login h2 {
      text-align: center;
      margin-top: 20px; } }

@media (max-width: 640px) {
  .login {
    border: solid black 1px;
    border-radius: 5px;
    width: 85%;
    margin: 0 auto; }
    .login h2 {
      text-align: center;
      margin-top: 20px; } }

.input {
  margin-left: 15px;
  margin-right: 15px; }
  .input input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 5px; }

.button-container {
  margin-left: 15px;
  margin-right: 15px; }

.submit {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;
  border: solid black 1px;
  border-radius: 5px; }

.forgot {
  text-align: center; }

.vehicle {
  cursor: pointer; }
  .vehicle p {
    margin-bottom: 80px; }

.edit-vehicle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.delete {
  color: red; }

.delete:hover {
  font-size: 24px; }

.edit:hover {
  font-size: 24px; }

.item {
  cursor: pointer; }

.item:hover {
  border: solid red 4px; }

@media (min-width: 775px) {
  .item {
    border: solid black 1px;
    border-radius: 5px;
    width: 20%;
    margin: 15px;
    height: 150px;
    text-align: center; } }

@media (max-width: 775px) {
  .item {
    border: solid black 1px;
    border-radius: 5px;
    width: 25%;
    margin: 15px;
    height: 150px;
    text-align: center; } }

@media (max-width: 450px) {
  .item {
    border: solid black 1px;
    border-radius: 5px;
    width: 35%;
    margin: 15px;
    height: 150px;
    text-align: center; } }

.picture img {
  width: 50px;
  margin-top: 5px; }

.iteminfo p {
  margin-top: 5px;
  margin-bottom: 5px; }

.add {
  cursor: pointer; }

.add:hover {
  background-color: #dadee5; }

.addNewVehicle-modal, .addNewItem-modal, .editItem-modal, .editVehicle-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: solid black 1px;
  border-radius: 5px;
  width: 80%; }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover {
  cursor: pointer;
  color: black;
  text-decoration: none; }

.vehicle-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: solid black 1px; }
  .vehicle-form h2 {
    text-align: center;
    margin: 20px; }
  .vehicle-form label {
    margin-bottom: 10px; }
  .vehicle-form input {
    margin-bottom: 10px; }

.item-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: solid black 1px; }
  .item-form h2 {
    text-align: center;
    margin: 20px; }
  .item-form label {
    margin-bottom: 10px; }
  .item-form input {
    margin-bottom: 10px; }

.js-hide-display {
  display: none; }

.report {
  cursor: pointer; }

.report:hover {
  background-color: #dadee5; }

.reorder-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none; }
  .reorder-list li {
    margin: 10px; }

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }
